@model IEnumerable<BLL.Interfacies.Entities.Comment>

@foreach (var comment in Model)
{
    <div class="comment">
        <div class="detail">
            @Html.ActionLink(comment.Author, "User", "User", new { user = comment.Author }, null)
            <span style="float:right">
                @comment.CreatedDateTime.ToString("ddd MMMM dd yyyy")
            </span>
        </div>
        <div class="comment-text">
            @comment.Text
        </div>
    </div>
}