@model IEnumerable<BLL.Interfacies.Entities.Comment>

@foreach (var comment in Model)
{
    <div class="comment">
        <div class="detail">
            @comment.Author
            <span style="float:right">
                @comment.CreatedDateTime.ToString("dd MMMM yyyy")
            </span>
        </div>
        <div class="comment-text">
            @comment.Text
        </div>
    </div>
}