@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@HttpContext.Current.User.Identity.Name</p>
<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Register", "Register", "Account")</p>

